# OS
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Python
backend/.venv/
backend/venv/
backend/.env
backend/.env.*
**/__pycache__/
**/*.pyc

# Databases
**/*.db
**/*.sqlite
**/*.sqlite3
